<div class="row featurette">
    <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">Una propuesta diferente. <!--<span class="text-muted">See for yourself.</span>--></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 order-md-1">
    <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
    <h2 class="featurette-heading">Pan casero. <span class="text-muted">Un imperdible de Gr&agrave;cia.</span></h2>
    <p class="lead">Igual que a vos, nos encanta la comida casera. Por eso todo lo que cocinamos se hace en el restaurant, incluso nuestro pan de campo artesanal.</p>
    </div>
    <div class="col-md-5">
    <img class="featurette-image img-fluid mx-auto" src="~/images/bread.jpg" alt="Generic placeholder image">
    </div>
</div>


<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">El Chef. <span class="text-muted">&Aacute;lvaro Patr&oacute;n.</span></h2>
    <p class="lead">Despu&eacute;s de su experiencia en Barcelona y Londres, &Aacute;lvaro volvi&oacute;
         a Montevideo para crear una nueva propuesta que combinara las influencias de esas ciudades con aspectos t&iacute;picos de la cocina uruguaya.

    </p>
    </div>
    <div class="col-md-5 order-md-1">
    <img class="featurette-image img-fluid mx-auto" src="~/images/chef.jpg" alt="Generic placeholder image">
    </div>
</div>

<hr class="featurette-divider">