@{
    ViewData["Title"] = "Gràcia Restaurant";
}

<div class="col-xs-3"></div>
<div class="col-xs-6">
    <img src="~/images/gracia_logo_circle.png" class="img-responsive center-block logo" width="70%" alt="Gracia Restaurant" />
</div>
<div class="col-xs-3"></div>
