<!-- FOOTER -->
<footer class="container">
    <p class="float-right"><a href="#">Volver</a></p>
    <p>&copy; 2018 Gr&agrave;cia Food & Wine. &middot; <a target="_blank" href="https://goo.gl/maps/M2qbT7LySu42">26 de marzo 1161</a> &middot; <a href="tel:27054941">27054941</a></p>
</footer>